@using OnlineShoppingServices.Models.DB;
@model Subcategory
@{
    ViewData["Title"] = "Category";
}
<h2>Search Your Product...<span class="glyphicon glyphicon-search"></span></h2>
<br />
<br />
@{
    var categories = (SelectList)ViewBag.categories;
}
<div>
    <div class="row">
        <div class="col-md-8">
            <form asp-action="GetProducts" asp-controller="Product" method="post">

                <div class="col-md-4">

                    <select onchange="myFunction()" asp-items="@categories" name="CategoryId" id="selCategory" class="btn btn-primary dropdown-toggle" required>
                        <option value="" selected disabled>--Select a Category--</option>
                    </select>
                    <p id="CatSubcat"></p>
                </div>
                <div class="col-md-4">

                    <select onchange="myFunction1()" name="SubCategoryId" id="selSubCategory" class="btn btn-primary dropdown-toggle" required>
                        <option value="Subcategory">--Select a SubCategory--</option>
                    </select>
                    <p id="CatSubcat1"></p>

                </div>

                <div class="row">
                    <input type="submit" value="Search" class="btn btn-danger" />
                </div>

            </form>
        </div>

    </div>

  
   

</div>
<br />
<br />
<br />
<br />
<br />


<div class="card" style="margin:100px 100px 100px 100px">
    <p>
        <h2> Special Offers! <br /><span id="spin"></span></h2>
    </p>
</div>

@*<div style="padding-top:50px; padding-left:50px" > <h2>New arrivals <span class="spin"></span></h2></div>*@





@section Scripts {
    <script>

        function myFunction() {
            var x = document.getElementById("selCategory");
            
            document.getElementById("CatSubcat").innerHTML = "You Are Searching For- " + x.options[x.selectedIndex].innerText;
        }

        function myFunction1() {
            var x = document.getElementById("selSubCategory");

            document.getElementById("CatSubcat1").innerHTML = "You selected: " + x.options[x.selectedIndex].innerText;
        }

        /*
                      Ajax stands for Asynchronous Javascript and XML.
                      It is used to make asynchronous HTTP Requests to the server without posting the page
                      You can continue using the page while ajax is communicating to the server in the background
                      $ is a jquery object .

        */

        $(document).ready(function () {
            //get the reference of category dropdown( html select element for category. #selCategory is the id. # is used to select element by ID)
            // "change" function will be called when you select a category;
            $('#selCategory').change(function () {
                //$.ajax function is used to make ajax requests to the home controller and its actions
                $.ajax({
                    url: 'http://localhost:65141/Search/SubCategory/' + $('#selCategory').val(), //Home controller and GetSubCategories action
                    type: 'GET',                            // we want to make a HTTPGET request
                    success: function (data) {      // if request is successful function is called by ajax and you can access the subcategories through "data" input parameter of the function
                        var opt;
                        var subcat = $('#selSubCategory');
                        subcat.empty();
                        //create an option,make it [disabled],[select] it,value is nothing and text is '--Select a subcategory--'
                        // for example <option disabled selected value=''>--Select a SubCategory--</option>
                        opt = $('<option>');
                        opt.attr('disabled', true);
                        opt.attr('selected', true);
                        opt.attr('value', '');
                        opt.text('--Select a SubCategory--');
                        //add this option of subcategory dropdown
                        subcat.append(opt);

                        //here we will programetically add the subcatories to the dropdown
                        for (var i = 0; i < data.length; i++)// data is an array of subcategories objects.
                        {
                            opt = $('<option>');  //this is how we create an option in jquery
                            opt.attr('value', data[i].subCategoryId);            // add option value
                            opt.text(data[i].subCategoryName);                             //add option text
                            subcat.append(opt);          //add option to subcategory dropdown
                        }
                    },
                    error: function (e) {
                        alert(e.toString());
                    }
                });

            });
        });
    </script>
}
 <link href="~/css/site.css" rel="stylesheet" />