
@using OnlineShoppingLibrary;
@model Credentials
@{
    ViewData["Title"] = "Authenticate";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://www.logolynx.com/images/logolynx/15/1588b3eef9f1607d259c3f334b85ffd1.png" id="icon" alt="User Icon" />
            <h1>Hello User</h1>
        </div>
        <!-- Login Form -->
        <form asp-action="Authenticate" asp-controller="Admin" method="post">
            <input asp-for="Email" type="text" id="login" class="fadeIn second " placeholder="username" value="noopur123@gmail.com" required>
            <input asp-for="Password" type="password" id="password" class="fadeIn third " placeholder="password" value="123" required autofocus>
            <div class="form-group text-danger" asp-validation-summary="All">

            </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">You Are visiting Online Shopping.</a>
        </div>
    </div>
</div>


<link href="~/css/login.css" rel="stylesheet" />

